@charset "UTF-8";
@font-face {
  font-family: "SF Pro Display";
  font-weight: 700;
  src: url("../fonts/SF-Pro-Display-Bold.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 600;
  src: url("../fonts/SF-Pro-Display-Medium.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 500;
  src: url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-weight: 400;
  src: url("../fonts/SF-Pro-Display-Semibold.woff") format("woff");
}

.header {
  width: 100%;
  position: absolute;
  left: 0vw;
  padding-top: 6.64062vh;
  z-index: 1;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger {
  margin-right: 2.5vw;
}

.burger span {
  position: relative;
  display: inline-block;
  width: 1.125vw;
  height: 0.125vw;
  border-radius: 0.1875vw;
  background-color: #ffffff;
}

.burger span::before, .burger span::after {
  content: '';
  position: absolute;
  -webkit-transform: translateY(-0.3125vw);
          transform: translateY(-0.3125vw);
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.burger span::after {
  -webkit-transform: translateY(0.3125vw);
          transform: translateY(0.3125vw);
  background: #ffffff;
}

.logo {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: bold;
  font-size: 1.25vw;
  line-height: 0vw;
  color: #ffffff;
  margin-right: 6.25vw;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 0.6875vw;
}

.search svg {
  width: 1.25vw;
  height: 1.25vw;
}

.search input {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: bold;
  font-size: 0.875vw;
  line-height: 0vw;
  margin-left: 1.0625vw;
  color: #ffffff;
  opacity: 1;
  background-color: transparent;
  border: none;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__item {
  margin-right: 2.125vw;
}

.nav__item:last-child {
  margin-right: 0vw;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 68.35938vh;
  font-size: 0.9375vw;
  line-height: 1.5625vw;
}

.call {
  /*display: inline-block;*/
  /*justify-self: flex-end;*/
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: bold;
  font-size: 0.9375vw;
  line-height: 1.875vw;
  color: #ffffff;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 7.5vw;
  white-space: nowrap;
}

@media screen and (max-width: 1024px) {
  .header {
    padding-top: 5.33333vmin;
  }
  .header__row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .header .nav, .header .call {
    display: none;
  }
  .header .burger span {
    position: relative;
    display: inline-block;
    width: 4.8vmin;
    height: 0.53333vmin;
    min-width: 18px;
    min-height: 2px;
    border-radius: 0.8vmin;
    background-color: #ffffff;
  }
  .header .burger span::before, .header .burger span::after {
    content: '';
    position: absolute;
    -webkit-transform: translateY(-1.33333vmin);
            transform: translateY(-1.33333vmin);
    width: 100%;
    height: 100%;
    background: #ffffff;
  }
  .header .burger span::after {
    -webkit-transform: translateY(1.33333vmin);
            transform: translateY(1.33333vmin);
    background: #ffffff;
  }
  .header .logo {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: bold;
    font-size: 5.33333vmin;
    line-height: 0vmin;
    color: #ffffff;
  }
  .header .search {
    display: none;
  }
}

.hero {
  background: url("../img/hero-bg.png") no-repeat center;
  height: 120vh;
  background-size: cover;
  background-position: center -8.6875vw;
  position: relative;
  z-index: 0;
}

.hero__content {
  padding-top: 29.29688vh;
  max-width: 43.75vw;
  margin: 0 auto;
  text-align: center;
}

.hero__title {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 3.8125vw;
  line-height: 5.625vw;
  color: #ffffff;
  margin: 6.54297vh 0 6.64062vh;
}

.hero__link {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 800;
  font-size: 0.75vw;
  line-height: 1.25vw;
  color: #ffffff;
  background-color: #E62E7B;
  border-radius: 1.875vw;
  padding: 0.3125vw 1vw;
  text-decoration: none;
}

.hero-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15.625vh;
}

.hero-list__item {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: bold;
  font-size: 0.875vw;
  line-height: 1.875vw;
  color: #ffffff;
  margin-right: 0.9375vw;
  position: relative;
}

.hero-list__item::after {
  content: '×';
  position: absolute;
  right: -0.625vw;
}

.hero-list__item:last-child::after {
  display: none;
}

.hero-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
  list-style-type: none;
  text-align: left;
  padding-left: 0;
}

.hero-info__item {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  margin-right: 3.8125vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-info__item:last-child {
  margin-right: 0vh;
}

.hero-info__item span {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: bold;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #ffffff;
}

.hero-info__item img {
  margin-right: 1.875vw;
  width: 1.0625vw;
}

.hero__anchor {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875vw;
  line-height: 2.92969vh;
  text-decoration: none;
  padding: 0.9375vw 2.92969vh;
  background: #ffffff;
  -webkit-box-shadow: 0 0.97656vh 2.92969vh black;
          box-shadow: 0 0.97656vh 2.92969vh black;
  border-radius: 1.875vw;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 13.3%;
  position: absolute;
  color: #4d5e80;
}

@media screen and (max-width: 1024px) {
  .hero {
    background: url("../img/hero-bg.png") no-repeat center;
    height: 120vh;
    background-size: cover;
    background-position: center -37.06667vmin;
    position: relative;
    z-index: 0;
  }
  .hero__content {
    padding-top: 80vmin;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .hero__title {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 11.2vmin;
    line-height: 1.5;
    color: #ffffff;
    margin: 10.66667vmin 0 10.66667vmin;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hero__link {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 800;
    font-size: 2.66667vmin;
    line-height: 1.5;
    color: #ffffff;
    background-color: #E62E7B;
    border-radius: 8vmin;
    padding: 1.33333vmin 4.26667vmin;
    text-decoration: none;
  }
  .hero-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 26.66667vmin;
  }
  .hero-list__item {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 3.2vmin;
    line-height: 6.93333vmin;
    color: #ffffff;
    margin-right: 4vmin;
    position: relative;
  }
  .hero-list__item::after {
    content: '×';
    position: absolute;
    right: -2.66667vmin;
  }
  .hero-list__item:last-child::after {
    display: none;
  }
  .hero-info {
    color: #ffffff;
    list-style-type: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-info__item span {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: bold;
    font-size: 3.46667vmin;
    line-height: 6.66667vmin;
    color: #ffffff;
  }
  .hero-info__item img {
    margin-right: 8vmin;
    width: 4.53333vmin;
  }
}

.about {
  display: block;
}

.about__bg-text {
  top: 98%;
  position: absolute;
}

.about .row {
  margin: -0.9375vw;
}

.about__item {
  background: #ffffff;
  border-radius: 0.625vw;
  -webkit-box-shadow: 0vw 0.125vw 0.3125vw rgba(54, 61, 70, 0.03);
          box-shadow: 0vw 0.125vw 0.3125vw rgba(54, 61, 70, 0.03);
  padding: 2.375vw 0.75vw;
  height: 21.875vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.9375vw;
  text-align: center;
}

.about-card__title {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 300;
  font-size: 1.25vw;
  line-height: 2.125vw;
  color: #4d5e80;
}

.about-card__title strong {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: bold;
  font-size: 1.25vw;
  line-height: 2.125vw;
  color: #2c3150;
}

.about-card__text {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-size: 0.9375vw;
  line-height: 1vw;
  color: #4d5e80;
  max-width: 8.125vw;
}

.about__container {
  display: block;
  text-align: center;
}

.about__container .about__link {
  background: #e9d7e0;
  border-radius: 1.875vw;
  text-decoration: none;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 2.92969vh;
  padding: 0.625vw 2.92969vh;
  color: #E62E7B;
}

.service {
  padding: 7.8125vw;
}

.service__row {
  position: relative;
  margin-bottom: 7.8125vw;
}

.service__row:last-child {
  margin-bottom: 0;
}

.service-item.service-item__image {
  position: relative;
  padding: 3.125vw;
  min-height: 21.875vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-item.service-item__image .play {
  width: 2.5vw;
  height: 2.5vw;
  background: #E62E7B;
  -webkit-box-shadow: 0vw 0.625vw 1.875vw #E62E7B;
          box-shadow: 0vw 0.625vw 1.875vw #E62E7B;
  border-radius: 1.875vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-item.service-item__image .play svg, .service-item.service-item__image .play svg path {
  width: 0.625vw;
  height: 0.625vw;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.service-item.service-item__image .play:hover {
  background: #ffffff;
  -webkit-box-shadow: 0vw 0.625vw 1.875vw #ffffff;
          box-shadow: 0vw 0.625vw 1.875vw #ffffff;
  cursor: pointer;
}

.service-item.service-item__image .play:hover svg path {
  fill: #E62E7B;
}

.service-item.service-item__image .play:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.service-item.service-item__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 21.875vw;
  z-index: -1;
  border-radius: 0.625vw;
}

.service-item.service-item__image__item__subtitle {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-size: 1vw;
  line-height: 1.875vw;
  color: #ffffff;
}

.service-item {
  padding: 0 6.25vw;
}

.service-item__title {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 2.125vw;
  line-height: 3.75vw;
  color: #4D5E80;
}

.service-item__title strong {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 2.125vw;
  line-height: 3.75vw;
  color: #2c3150;
}

.service-item__link {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-size: 1vw;
  line-height: 1.875vw;
  color: #6B7A99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  /* align-items: center;
            justify-content: center;*/
}

.service-item__link svg {
  margin-left: 3.4375vw;
  width: 0.9375vw;
  height: 0.9375vw;
}

.service .next {
  position: absolute;
  bottom: 3.125vw;
  right: 3.125vw;
  background: rgba(0, 0, 0, 0.5);
  /*opacity: 0.5;*/
  border-radius: 1.875vw;
  width: 3.75vw;
  height: 3.75vw;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service .next svg, .service .next svg path {
  width: 1.25vw;
  height: 1.25vw;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.service .next:hover svg {
  -webkit-transform: translateX(0.3125vw);
          transform: translateX(0.3125vw);
}

@media screen and (max-width: 1024px) {
  .service .pink-btn {
    margin-top: 5.33333vmin;
    display: inline-block;
  }
  .service-item__title {
    margin-top: 0;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 9.06667vmin;
    line-height: 16vmin;
    color: #4D5E80;
  }
  .service-item__title strong {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 9.06667vmin;
    line-height: 16vmin;
    color: #2c3150;
  }
  .service-item__link {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 4.26667vmin;
    line-height: 8vmin;
    color: #6B7A99;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    /* align-items: center;
               justify-content: center;*/
    margin-bottom: 5.33333vmin;
  }
  .service-item__link svg {
    margin-left: 6.66667vmin;
    width: 4vmin;
    height: 4vmin;
  }
  .service__item__subtitle {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 600;
    font-size: 3.2vmin;
    line-height: 6.93333vmin;
    color: #ffffff;
  }
  .service .conatainer {
    padding: 0;
  }
  .service__row:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .service-item.service-item__image {
    padding: 6.66667vmin;
    min-height: 93.33333vmin;
  }
  .service-item.service-item__image .play {
    width: 10.66667vmin;
    height: 10.66667vmin;
    background: #E62E7B;
    -webkit-box-shadow: 0vmin 2.66667vmin 8vmin #E62E7B;
            box-shadow: 0vmin 2.66667vmin 8vmin #E62E7B;
    border-radius: 8vmin;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service-item.service-item__image .play svg, .service-item.service-item__image .play svg path {
    width: 2.66667vmin;
    height: 2.66667vmin;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .service-item.service-item__image .play:hover {
    background: #ffffff;
    -webkit-box-shadow: 0vmin 2.66667vmin 8vmin #ffffff;
            box-shadow: 0vmin 2.66667vmin 8vmin #ffffff;
    cursor: pointer;
  }
  .service-item.service-item__image .play:hover svg path {
    fill: #E62E7B;
  }
  .service-item.service-item__image .play:hover svg {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  .service-item.service-item__image img {
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 93.33333vmin;
    z-index: -1;
    border-radius: 2.66667vmin;
  }
  .service .next {
    position: absolute;
    bottom: 6.66667vmin;
    right: 6.66667vmin;
    background: rgba(0, 0, 0, 0.5);
    /*opacity: 0.5;*/
    border-radius: 8vmin;
    width: 16vmin;
    height: 16vmin;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service .next svg, .service .next svg path {
    width: 5.33333vmin;
    height: 5.33333vmin;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .service .next:hover svg {
    -webkit-transform: translateX(0.3125vw);
            transform: translateX(0.3125vw);
  }
}

.catalog {
  text-align: center;
}

.catalog__row {
  padding-top: 3.75vw;
}

.catalog-item {
  background: #ffffff;
  padding: 2vw 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.catalog-item__icon {
  top: 1.625vw;
  right: 1.625vw;
  position: absolute;
  width: 1.25vw;
  height: 1.25vw;
  fill: #dfdede;
}

.catalog-item__title {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 800;
  font-size: 0.9375vw;
  line-height: 1.5625vw;
  color: #6B7A99;
}

.catalog-item__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 3.75vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1875vw solid #F5F6F7;
  border-left: 0.125vw solid #F5F6F7;
}

.catalog-item__bottom:last-child {
  margin-left: 0.1875vw solid #F5F6F7;
}

.catalog-item__rating {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catalog-item__rating span {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875vw;
  line-height: 1.5625vw;
  color: #6B7A99;
}

.catalog-item__price {
  border: 0.1625vw solid #F5F6F7;
  width: 33%;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875vw;
  line-height: 1.5625vw;
  color: #6B7A99;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -0.0625vw;
  margin-bottom: -0.125vw;
}

.catalog-item__buy {
  width: 33%;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.875vw;
  line-height: 1.5625vw;
  color: #E62E7B;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.catalog-item__buy::before {
  content: '';
  width: 100%;
  height: 100%;
  right: -100%;
  top: -100%;
  z-index: -1;
  position: absolute;
  background-color: #e9d7e0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.catalog-item__buy:hover {
  color: #ffffff;
}

.catalog-item__buy:hover::before {
  top: 0;
  right: 0;
  background-color: #E62E7B;
}

.social {
  text-align: center;
  position: relative;
  padding-bottom: 10vw;
}

.social .row {
  /*margin: vw(-15);*/
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.social__top {
  position: relative;
}

.social .title {
  margin-bottom: 10.3125vw;
}

.social .slick-prev.slick-arrow {
  cursor: pointer;
  position: absolute;
  left: 0;
  font-size: 0;
  width: 3.125vw;
  height: 3.125vw;
  background: url("../img/arrow.svg") center center no-repeat;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  top: -13.125vw;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.125vw 0.3125vw rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.125vw 0.3125vw rgba(0, 0, 0, 0.5);
}

.social .slick-next.slick-arrow {
  cursor: pointer;
  position: absolute;
  right: 0;
  font-size: 0;
  width: 3.125vw;
  height: 3.125vw;
  background: url("../img/arrow.svg") center center no-repeat;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  top: -13.125vw;
  border-radius: 50%;
  -webkit-box-shadow: 0 0.125vw 0.3125vw rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.125vw 0.3125vw rgba(0, 0, 0, 0.5);
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.social-item {
  position: relative;
  padding: 0.9375vw;
}

.social-item img {
  max-width: 100%;
}

.social-item__link {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  display: inline-block;
  width: 5vw;
  height: 5vw;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 7.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.social-item__link svg {
  width: 1.4375vw;
  height: 1.25vw;
}

.social-item:hover .social-item__link {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.location {
  padding: 7.5vw;
}

.location ul {
  list-style-type: none;
}

.location__top {
  text-align: center;
}

.location__map {
  position: relative;
}

.location__map .map {
  height: 33.75vw;
}

.location-modal {
  position: absolute;
  padding: 1.875vw;
  background: #ffffff;
  right: 1.25vw;
  bottom: 2.5vw;
  -webkit-box-shadow: 0 0.125vw 0.3125vw rgba(54, 61, 77, 0.05);
          box-shadow: 0 0.125vw 0.3125vw rgba(54, 61, 77, 0.05);
  border-radius: 0.625vw;
}

.location-modal img {
  margin-right: 2.25vw;
  width: 1.25vw;
  height: 1.25vw;
}

.location-modal__item {
  margin-bottom: 1.5625vw;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: bold;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #6B7A99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location-modal__item:last-child {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 0;
}

.location-modal__item span:first-child {
  color: #C3CAD9;
}

.location-modal__item span + span {
  margin-left: 1.5625vw;
}

.location-modal__list {
  margin: 0;
  padding: 0;
}

.footer {
  padding: 5.625vw 0 4.0625vw;
}

.footer__rights {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: bold;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #4d5e80;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3vw 0 2.625vw;
}

.footer__bottom ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__bottom ul li {
  margin-left: 3.4375vw;
}

.footer__bottom ul li a {
  text-decoration: none;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: bold;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #4d5e80;
}

.footer__logo {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 1.875vw;
  color: #2c3150;
  margin: 0;
}

.footer-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-list__item {
  width: 33.33%;
  margin-bottom: 1.25vw;
}

.footer-list__link {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: bold;
  font-size: 0.8125vw;
  line-height: 1.5625vw;
  color: #4d5e80;
}

.footer__reviews span {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: bold;
  font-size: 0.875vw;
  line-height: 1.875vw;
  color: #4d5e80;
  margin-right: 1.25vw;
}

.footer__reviews img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer__rating {
  margin-bottom: 1.25vw;
}

.footer__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4.0625vw;
}

.footer__row-lefts {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body {
  margin: 0;
  background: #e5e5e5;
}

.container {
  max-width: 69.375vw;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-4 {
  width: 33.33%;
}

.bg-text {
  position: absolute;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 800;
  font-size: 9.375vw;
  line-height: 21.48438vh;
  opacity: 0.03;
  color: #002881;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  z-index: -1;
}

.pink-btn {
  color: #E62E7B;
  background: #e9d7e0;
  border-radius: 1.875vw;
  text-decoration: none;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 0.8125vw;
  line-height: 2.92969vh;
  padding: 0.3125vw 2.92969vh;
}

.col-6 {
  width: 50%;
}

.title {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 300;
  font-size: 1.25vw;
  line-height: 2.125vw;
  color: #4d5e80;
  text-align: center;
  position: relative;
}

.title strong {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: bold;
  font-size: 1.25vw;
  line-height: 2.125vw;
  color: #2c3150;
}

.title .title__bg-text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 800;
  font-size: 9.375vw;
  line-height: 21.48438vh;
  opacity: 0.03;
  color: #002881;
  opacity: 0.03;
  z-index: -1;
}

.text {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-size: 0.9375vw;
  line-height: 1.5625vw;
  color: #4d5e80;
  max-width: 40.625vw;
  /*flex-wrap: wrap;*/
  text-align: center;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  /*align-content: center;
    justify-content: center;
    justify-self: center;*/
}

.col-3 {
  width: 25%;
}

.badge {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 800;
  font-size: 0.75vw;
  line-height: 1.25vw;
  color: #FF6633;
  background: rgba(255, 102, 51, 0.1);
  border-radius: 1.875vw;
  border: none;
  outline: none;
  padding: 0.3125vw 1.375vw;
}

.badge__orange {
  color: #FF6633;
  background: rgba(255, 102, 51, 0.1);
}

.badge__pink {
  color: #E62E7B;
  background: #e9d7e0;
}

hr {
  border-color: #EDEFF2;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .col-6, .col-4, .col-3 {
    width: 100%;
  }
  .container {
    max-width: 100%;
    padding: 0 8vmin;
  }
  .pink-btn {
    color: #E62E7B;
    background: #e9d7e0;
    border-radius: 8vmin;
    text-decoration: none;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 3.46667vmin;
    line-height: 8vmin;
    padding: 1.33333vmin 8vmin;
  }
}
/*# sourceMappingURL=index.css.map */