.service{
    padding: vw(125); 
    &__row{
        position: relative;
        margin-bottom: vw(125);
        &:last-child{
            margin-bottom:0;
        }
    }
    &-item.service-item__image{
        position: relative;
        padding: vw(50);
        min-height: vw(350);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .play{
            width: vw(40);
            height: vw(40);
            background: $bg-pink;
            box-shadow: vw(0) vw(10) vw(30) $bg-pink;
            border-radius: vw(30);
            transition: 0.3s;
            @include flex();
            svg,svg path{
                width: vw(10);
                height: vw(10);
                transition: 0.3s;
            }
            &:hover{
            background: $bg-white;
            box-shadow: vw(0) vw(10) vw(30) $bg-white;
            cursor: pointer;
            svg path{
                fill: $bg-pink;
            }
            svg{
             transform: rotate(360deg);
            }
          }
        }
        img{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: vw(350);
            z-index: -1;
            border-radius: vw(10);
        }

    }  
    &__item__subtitle{
       @include font(vw(20),600,vw(30));
        color: $text-white;
    }
     &-item{
         padding:0 vw(100);
         &__title{
            @include font(vw(34),400,vw(60));
            color: #4D5E80;
            strong{
            @include font(vw(34),400 ,vw(60));
            color: $text-dark-blue;
             }
         }
         &__link{
            @include font(vw(16),400,vw(30));
            color: #6B7A99;    
            display: flex;
            @include flex(flex-start);
           /* align-items: center;
            justify-content: center;*/
            svg{
                margin-left: vw(55);
                width: vw(15);
                height: vw(15);
            }
         }
     }
     .next{
        position: absolute;
        bottom: vw(50);
        right: vw(50);
        background: rgba(0,0,0,0.5);
        /*opacity: 0.5;*/
        border-radius: vw(30);
        width: vw(60);
        height: vw(60);
        cursor: pointer;
        @include flex();
        svg,svg path{
            width: vw(20);
            height: vw(20);
            transition: 0.2s;
        }
        &:hover svg{
            transform: translateX(vw(5));
        }
    }
}




.service{
    @include mobile(){
        .pink-btn{
            margin-top: vmin(20);
            display: inline-block;
        }
        &-item{
            &__title{
            margin-top: 0;
               @include font(vmin(34),400,vmin(60));
               color: #4D5E80;
               strong{
               @include font(vmin(34),400 ,vmin(60));
               color: $text-dark-blue;
                }
            }
            &__link{
               @include font(vmin(16),400,vmin(30));
               color: #6B7A99;    
               display: flex;
               @include flex(flex-start);
              /* align-items: center;
               justify-content: center;*/
               margin-bottom: vmin(20);
               svg{
                   margin-left: vmin(25);
                   width: vmin(15);
                   height: vmin(15);
               }
            }
        }
        &__item__subtitle{
            @include font(vmin(12),600,vmin(26));
            color: $text-white;
        }
        .conatainer{
            padding: 0;
        }
        &__row:nth-child(even){
        flex-direction: column-reverse;
        }
        &-item.service-item__image{
            padding: vmin(25);
            min-height: vmin(350);
            .play{
            width: vmin(40);
            height: vmin(40);
            background: $bg-pink;
            box-shadow: vmin(0) vmin(10) vmin(30) $bg-pink;
            border-radius: vmin(30);
            transition: 0.3s;
            @include flex();
            svg,svg path{
                width: vmin(10);
                height: vmin(10);
                transition: 0.3s;
            }
            &:hover{
            background: $bg-white;
            box-shadow: vmin(0) vmin(10) vmin(30) $bg-white;
            cursor: pointer;
            svg path{
                fill: $bg-pink;
            }
            svg{
             transform: rotate(360deg);
            }
          }
        }
            img{
                object-fit: cover;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: vmin(350);
                z-index: -1;
                border-radius: vmin(10);
            }
        }
        .next{
        position: absolute;
        bottom: vmin(25);
        right: vmin(25);
        background: rgba(0,0,0,0.5);
        /*opacity: 0.5;*/
        border-radius: vmin(30);
        width: vmin(60);
        height: vmin(60);
        cursor: pointer;
        @include flex();
        svg,svg path{
            width: vmin(20);
            height: vmin(20);
            transition: 0.2s;
        }
        &:active svg{
            transform: translateX(vw(5));
        }
     }
    };
}